<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Proton Web Page</title>
  <link rel="stylesheet" href="../Style/style.css">
  <link rel="stylesheet" href="../Style/style2.css">
  <link rel="shortcut icon" href="../Images/favicon.png" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>

<body>

  <header class="container-fluid px-4">
    <!--   navigation bar -->
    <nav class="row">
      <div class="logo col-xl-4  col-lg-3 col-md-12 col-sm-12 ">
        <img src="../Images/proton icon nav bar.png" alt="An image of a phone could be shown" width="32px" height="32px"
          class="img-fluid ">
        <span class="text-light ">PROTON</span>
      </div>
      <div class="links col-xl-8 col-lg-8 col-md-12 col-sm-12">
        <a href="#" target="_self" title="You are already in this page"
          class="active-page border-bottom border-2  border-light">Home</a>
        <a href="#features" target="_self">Features</a>
        <a href="#" target="_blank">Screenshots</a>
        <a href="#" target="_blank">Treatment</a>
        <a href="#" target="_blank">Plans</a>
        <a href="#" target="_blank">Downloads</a>
        <a href="#" target="_blank">Contact</a>
      </div>
    </nav>
    <!-- header body contains image and text -->
    <div class="sample-text container-fluid  col-sm-12 col-md-12 col-lg-5  col-xl-6 gap-3 ">
      <span class="text-light"> Get your app Landing Page With Proton Template</span>
      <p class="text-light">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia consequatur
        laudantium aliquam
        nam sapiente voluptas illum! Temporibus unde exercitationem, fugit perferendis dolore quidem
        doloremque .
      </p>
      <div class="my-btn">
        <button class="btn-learn-more"><a href="#" target="_blank">LEARN MORE</a></button>
        <button class="btn-get-started"><a href="#" target="_blank">GET STARTED</a></button>
      </div>
    </div>
    <div class="mobile-image container-fluid col-sm-12 col-md-12 col-lg-5  col-xl-5 my-5 ">
      <img src="../Images/mobile.png" alt=" An image of a phone could be shown " class="img-fluid ">
    </div>
  </header>

  <!-- second page  -->

  <main class="container-fluid row p-3" id="features">
    <div class="btn-features col-12 text-center my-4 ">
      <button class="container-fluid  d-block">
        <a href="" target="_blank"> FEATURES</a>
      </button>
      <span>Amazing Fetures</span>
    </div>
    <div class="fetures-content1 col-sm-12 col-md-6  col-lg-4 col-xl-4 ">
      <div class="fetures-child">
        <div class="features-text">
          <h2>User Friendly</h2>
          <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis, earum.</p>
        </div>
        <div>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-envira fa-stack-1x fa-inverse icons"></i>
          </span>
        </div>
      </div>
      <div class="fetures-child">
        <div class="features-text">
          <h2>Super Fast Speed</h2>
          <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis, earum.</p>
        </div>
        <div>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-inbox fa-stack-1x fa-inverse icons"></i>
          </span>
        </div>
      </div>
      <div class="fetures-child">
        <div class="features-text">
          <h2>24/7 Support</h2>
          <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis, earum.</p>
        </div>
        <div>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-headphones fa-stack-1x fa-inverse icons"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="features-content2 col-sm-12 col-md-6 col-lg-4 col-xl-4 text-center img-phone ">
      <img src="../Images/phone.png" alt="اینجا رو حتمابنویس بعدا" class="img-fluid " width="90%">
    </div>
    <div class="features-content3 col-sm-12 col-md-12 col-lg-4 col-xl-4">
      <div class="features-child2">
        <div class="features-text2">
          <h2>Secure</h2>
          <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis, earum.</p>
        </div>
        <div>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-shield fa-stack-1x fa-inverse icons"></i>
          </span>
        </div>
      </div>
      <div class="features-child2">
        <div class="features-text2">
          <h2>Awesome Rating</h2>
          <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis, earum.</p>
        </div>
        <div>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-star fa-stack-1x fa-inverse icons"></i>
          </span>
        </div>
      </div>
      <div class="features-child2">
        <div class="features-text2">
          <h2>Award Winning</h2>
          <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis, earum.</p>
        </div>
        <div>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-trophy fa-stack-1x fa-inverse icons"></i>
          </span>
        </div>
      </div>
    </div>

  </main>
  <!-- Watch video part -->
  <article class="container-fluid">
    <div>
      <a href="" target="_blank"><i class="fa fa-file-video-o icon-video" aria-hidden="true"
          title="Click here to watch video"></i></a>
    </div>
    <div class="watch-video-text">
      WATCH VIDEO
    </div>
  </article>

  <!-- Footer page(last page) -->

  <footer class="container-fluid row">
    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-5 ">
      <img src="../Images/person pic.jpg" alt="" class="img-fluid ">
    </div>
    <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7 footer-text p-4 ">
      <span class="badge badge-span text-dark text-wrap fw-bold fs-6 mb-4 "> HOW IT WORKS ?</span>
      <h1 class="mb-3">Our App Is Amazing!</h1>
      <p class="mb-4">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.Consectetur sunt illum labore magni dolores,
        laborum facilis est omnis ipsam expedita doloremque cum.Accusantium veniam aspernatur.
      </p>
      <a data-bs-toggle="collapse" href="#collapse" role="button" aria-expanded="false" aria-controls="collapse"
        class="a-collapse">
        Click Here To Read More
      </a>
      <div class="collapse" id="collapse">
        <div class="card card-body text-dark fs-5 collapse-content my-3">
          Laborum porro magni accusantium veniam aspernatur,
          quia commodi, minus assumenda itaque obcaecati aliquam iure aut explicabo delectus! Facilis eaque pariatur
          blanditiis quam , Lorem ipsum dolor sit amet consectetur adipisicing elit!
        </div>
      </div>
    </div>
  </footer>

</body>

</html>